.form-container {
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #ccc;
    padding: 1em;
    border-radius: 5px;
}

.align-right {
    float: right;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

.table {
border: 1px solid #ccc;
padding: 1em;
}

.margin-one {
    margin: 0.5em 0;
}

.btn-default {
    background-color: #ccc;
    margin: 0 0.5em;
}

.heading {
    padding-top: 0em;
}
.search-icon {
    position: absolute;
    top: 50%;
    right: 25px;
    margin-top: -10px;
}