
  
    <div class="container">
  <div class="row">
    <div class="col-md-12">
       
      <form [formGroup]="addCustomerForm">
        <div class="form-container mt-2">
            <div class="heading text-center">
                ADD CUSTOMER 
              </div>
            <div class="row">
                <div class="col-md-12 margin-one">
                  <!-- <label for="account-number">Customer&nbsp;</label> -->
                  <input [formControl]="search"    placeholder="search customer" 
                  [typeahead]="customer"
                  typeaheadOptionField="name"
                  (typeaheadOnSelect)="typeaheadOnSelect($event)"
                  class="form-control">
                  <div class="search-icon">
                    <i class="fa fa-search" id="myimage"></i>
                  </div>
                </div>
            </div>
       

        <div class="row">
          <div class="col-md-12 margin-one">
            <label for="alert-group">Customer ID&nbsp;</label>
            <input type="text" id="alert-group" placeholder=" Customer ID" class="form-control" formControlName="id">
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 margin-one">
              <label for="alert-group">Customer Name&nbsp;</label>
              <input type="text" id="alert-group" placeholder=" Customer Name" formControlName="name" class="form-control">
          </div>
        </div>

        <div class="row">
            <div class="col-md-12 margin-one">
                <label for="alert-group">Email ID&nbsp;</label>
                <input type="text" id="alert-group" placeholder="Email" formControlName="emailId" class="form-control">
            </div>
        </div>


        <div class="row">
            <div class="col-md-12 margin-one">
                <label for="alert-group">Phone Number&nbsp;</label>
                <input type="text" id="alert-group" placeholder=" Phone Number"  formControlName="phoneNumber" class="form-control">
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 margin-one">
                <label for="alert-group">Alert Status&nbsp;</label>
                <input type="text" id="alert-group" placeholder=" Alert Status"  formControlName="alertStatus" class="form-control">
            </div>
        </div>

        <div class="row">
          <div class="col-md-12 margin-one">
            <!-- <button class="btn btn-primary align-right" [routerLink]="['/account-list']" routerLinkActive="router-link-active" >NEXT</button> -->
            <button class="btn btn-default align-right" (click)="addCustomer()">Add</button>
          </div>
        </div>
      </div>
      </form>
     
    </div>
  </div>
</div>