
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="form-container mt-2">
          <div class="heading text-center">
              CUSTOMER LIST
            </div>
        <div class="row">
          <div class="col-md-12">
            <button class="btn btn-primary mb-2"  [routerLink]="['/addnew-customer']" >NEW</button>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Customer ID</th>
                  <th>Customer Name</th>
                  <th>Email</th>
                  <th>Phone Number</th>
                  <th>Alert Status</th>
                  <th>Edit</th>
                </tr>
              </thead>
              <tbody *ngFor="let customer of customers">
                <tr>
                  <td>{{customer.id}}</td>
                  <td>{{customer.name}}</td>
                  <td>{{customer.emailId}}</td>
                  <td>{{customer.phoneNumber}}</td>
                  <td>{{customer.alertStatus}}</td>
                  <td><i class="fas fa-edit"></i></td>
                </tr>
                <!-- <tr>
                  <td>123456788</td>
                  <td>customer1</td>
                  <td>custome@gmail.com</td>
                  <td>797879778809</td>
                  <td>On</td>
                  <td><i class="fas fa-edit"></i></td>
                </tr>
                <tr>
                  <td>123456788</td>
                  <td>customer1</td>
                  <td>custome@gmail.com</td>
                  <td>797879778809</td>
                  <td>On</td>
                  <td><i class="fas fa-edit"></i></td>
                </tr>
                <tr>
                  <td>123456788</td>
                  <td>customer1</td>
                  <td>custome@gmail.com</td>
                  <td>797879778809</td>
                  <td>On</td>
                  <td><i class="fas fa-edit"></i></td>
                </tr>
                <tr>
                  <td>123456788</td>
                  <td>customer1</td>
                  <td>custome@gmail.com</td>
                  <td>797879778809</td>
                  <td>On</td>
                  <td><i class="fas fa-edit"></i></td>
                </tr> -->
               
              </tbody>
            </table>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
