tr:nth-child(even) {
    background-color: #f2f2f2
}

.table {
border: 1px solid #ccc;
padding: 1em;
}

.form-container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #ccc;
    padding: 1em;
    border-radius: 5px;
}
.btn{
    float: right;
    width: 110px;
    color: black;
    background-color: white;
    border-color: black;
    border-radius: 0px !important;
}
