<div class="container">
  <div class="row">
    <div class="col-md-12">

      <div class="form-container mt-2">
        <div class="heading text-center">
          ALERT GROUP LIST
        </div>
        <div class="row">
          <div class="col-md-12">
            <button class="btn btn-primary mb-2" [routerLink]="['/add-alert']">NEW</button>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Alert Group ID</th>
                  <th>Alert Type</th>
                  <th>Minimum Value</th>
                  <th>Maximum Value</th>
                  <th>Channels</th>
                  <th>Edit</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let alert of alerts">
                  <td>{{alert.groupId}}</td>
                  <td class="tdclass">
                    <div *ngFor="let rule of alert.rules">{{rule.type}}</div>
                  </td>
                  <td class="tdclass">
                    <div *ngFor="let rule of alert.rules">{{rule.minValue}}</div>
                  </td>
                  <td class="tdclass">
                    <div *ngFor="let rule of alert.rules">{{rule.maxValue}}</div>
                  </td>
                  <td class="tdclass"><div *ngIf="alert.channels[0].sms">sms</div><div *ngIf="alert.channels[0].email"> email</div>
                    <div *ngIf="alert.channels[0].pushNotification"> pushNotification</div></td>
                  <td><i class="fas fa-edit"></i></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>