
<div class="container" *ngIf="!enableCustomerAdd">
  <div class="row">
    <div class="col-md-12">
      <form [formGroup]="accountForm">
      <div class="form-container mt-2">
          <div class="heading text-center">
              ADD ACCOUNT
            </div>
        <div class="row">
          <div class="col-md-5">
            <div class="form-group">
          <label for="account-number">Account Number&nbsp;</label> 
              <input type="text" [disabled]="true" id="account-number" placeholder="Account Number" class="form-control">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
            <label for="account-number">Account Type&nbsp;</label> 
              <select name="alert_status" id="alert-status"  class="form-control"  formControlName="accountType">
                <option value="Savings">Savings</option>
                <option value="Current">Current</option>
        
              </select>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
               <label for="account-number">Alert Status&nbsp;</label> 
              <select name="alert_status" id="alert-status" formControlName="alertStatus" class="form-control">
                <option value="On">On</option>
                <option value="Off">Off</option>
              </select>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-5 margin-one">
            <!-- <label for="account-number">Number Of Customers&nbsp;</label> -->
            <select name="no_of_customers" formControlName="customerno" id="no-of-customers" class="form-control">
              <option hidden>Select Number Of Customers</option>
              <option *ngFor="let item of numberCustomers; let i=index">{{i+1}}</option>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="col-md-5 margin-one">
            <!-- <label for="alert-group">Alert Group&nbsp;</label> -->
            <input formControlName="alertGroup"     placeholder="Search Alert-Group" 
            [typeahead]="alerts"
            typeaheadOptionField="alertGroup_Id"
            (typeaheadOnSelect)="typeaheadOnSelect($event)"
            class="form-control">
            <div class="search-icon">
              <i class="fa fa-search" id="myimage"></i>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-5 margin-one" >
            <label for="alert-group">Channels&nbsp;</label>
            <input type="text" id="alert-group" class="form-control" [disabled]="true" placeholder="Channels" class="form-control">
          </div>
        </div>

        <div class="row">
          <div class="col-md-5 margin-one">
            
            <input type="text" id="alert-group" class="form-control" placeholder="Enter Available Balance" formControlName="actualBalance"  class="form-control" >
          </div>
        </div>

        <div class="row">
          <div class="col-md-5 margin-one">
            <!-- <label for="alert-group">Channels&nbsp;</label> -->
            <input type="search" id="alert-group" class="form-control"placeholder="Enter Actual Balance"  formControlName="availableBalance"  class="form-control">
          </div>
        </div><br>

        <div class="row">
          <div class="col-md-3 alert">
            <label for="alert-group">Alert Rules&nbsp; :-</label>
          </div>
          <div class="col-md-9">
            <table  class="table table-bordered">
                <thead>
                    <tr>
                      <th>Alert Type</th>
                      <th>Minimum Value</th>
                      <th>Maximum Value</th>
                    </tr>
                  </thead>
              <tr *ngFor ="let rules of alert_Data.alert_rule">
                <td>{{rules.alert_Type}}</td>
                <td>{{rules.minimum_Value}}</td>
                <td>{{rules.maximum_Value}}</td>
              </tr>
              <tr  *ngIf="tableData == false"  >
                
                <th colspan="4" class="theading text-center">! No Alert Group Selected</th>
                 
              </tr>
            </table>

          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <button (click)="addAccount()" class="btn btn-primary align-right">NEXT</button>
          </div>
        </div>
      </div>
      </form>
    </div>
  </div>
</div>
<div class="container" *ngIf="enableCustomerAdd">
  <div class="row">
    <div class="col-md-12">
      <app-add-customer [accountInfo]="accountForm.value"></app-add-customer>
    </div>
  </div>    
</div>