.form-container {
    width: 850px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #ccc;
    padding: 1em;
    border-radius: 5px;


}

.align-right {
    float: right;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

.table {
border: 1px solid #ccc;
padding: 1em;
td, th{
    padding: 0.25rem;
}
}
.margin-one {
    margin: 0.5em 0;
}
.search-icon {
    position: absolute;
    top: 50%;
    right: 25px;
    margin-top: -10px;
}
.alert{
    font-weight: bold;
    font-size: 15px;
}
.table{
    margin-left: -85px;
}
.theading{
    color:rgb(112, 112, 112);
    font-weight: normal !important;
}