<div class="row">
<div class="fusion">
<fusioncharts 
    [chartConfig]=chartConfig
    [dataSource]=dataSource >
</fusioncharts>
</div><br>
<div class="pie"><app-pie-chart></app-pie-chart></div>

</div>


