
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="form-container mt-2">
          <div class="heading text-center">
              TRANSACTION GENERATOR 
             </div>

        <div class="row">
          <div class="col-md-12 margin-one">
            <!-- <label for="alert-group">Number of credit transactions&nbsp;</label> -->
            <input type="text" id="alert-group" placeholder="Enter Number of credit transactions" class="form-control">
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 margin-one">
              <!-- <label for="alert-group">Number of debit transactions&nbsp;</label> -->
              <input type="text" id="alert-group" placeholder="Enter Number of debit transactions " class="form-control">
          </div>
        </div>

        <div class="row">
            <div class="col-md-12 margin-one">
                <!-- <label for="alert-group">Number of other services&nbsp;</label> -->
                <input type="text" id="alert-group" placeholder="Enter Number of other services" class="form-control">
            </div>
        </div>


        <div class="row">
          <div class="col-md-12 margin-one">
            <button class="btn btn-primary align-right" [routerLink]="['/account-list']" routerLinkActive="router-link-active" >PROCESS</button>
            <button class="btn btn-default align-right">CANCEL</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
