<nav class="navbar">
        <!-- <a class="navbar-brand">Navbar  </a> -->
      </nav>
<!-- <nav class="navbar">
        <a class="navbar-brand">Navbar  </a>
      </nav>
<div class="card mt-1 ml-1">
    <div class="logo-container">
<img src="assets/logo-2.png" width="217">
    </div>
    <div class="navigate-container">
        <button class="btn btn-primary align-right" [routerLink]="['/']" routerLinkActive="router-link-active" >ADD ACCOUNT</button>
        <button class="btn btn-primary align-right" [routerLink]="['/add-alert']" routerLinkActive="router-link-active" >ADD ALERT</button>
        <button class="btn btn-primary align-right" [routerLink]="['/transaction-generator']" routerLinkActive="router-link-active" >ADD TRANSACTION </button>
        <button class="btn btn-primary align-right" [routerLink]="['/addnew-customer']" routerLinkActive="router-link-active" >ADD CUSTOMER</button>
        <button class="btn btn-primary align-right" [routerLink]="['/customer-list']" routerLinkActive="router-link-active" >VIEW CUSTOMERS</button>

    </div>
</div>
<div>
        <router-outlet></router-outlet>
</div>
 -->
 <mat-drawer-container  class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side" [opened]="true">
      <!-- <p>Auto-resizing sidenav</p>
      <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
      <button (click)="showFiller = !showFiller" mat-raised-button>
        Toggle extra text
      </button> -->
      <!-- <button class="btn-menu" (click)="drawer.toggle()">
        <i class="material-icons">menu</i>
      </button> -->
      <div class="logo-container">
            <img src="assets/logo-2.png" width="217">
                </div>
      <div class="side-nav">
          <ul>
            <li>
                <a class="align-right" href="javascript:" [routerLink]="['/account-dashboard']" routerLinkActive="router-link-active">
                    <i class="material-icons vertical-align-middle">home</i>
                    &nbsp;Dashboard</a>
                </li>
              <li>
                <a class="align-right" href="javascript:" [routerLink]="['/account-balance/:j']" routerLinkActive="router-link-active">
                    <i class="material-icons vertical-align-middle">account_balance</i>
                    &nbsp;Add Account</a>
              </li>
              <li>
                <a class="align-right" href="javascript:" [routerLink]="['/add-alert']" routerLinkActive="router-link-active">
                    <i class="material-icons vertical-align-middle">add_alert</i>
                    &nbsp;Add Alert</a>
              </li>
              <li>
                <a class="align-right" href="javascript:" [routerLink]="['/transaction-generator']" routerLinkActive="router-link-active">
                    <i class="material-icons vertical-align-middle">account_balance_wallet</i>
                    &nbsp;Add Transaction </a>
              </li>
              <li>
                <a class="align-right" href="javascript:" [routerLink]="['/addnew-customer']" routerLinkActive="router-link-active">
                    <i class="material-icons vertical-align-middle">person_add</i>
                    &nbsp;Add Customer</a>
              </li>
              <li>
                <a class="align-right" href="javascript:" [routerLink]="['/customer-list']" routerLinkActive="router-link-active">
                    <i class="material-icons vertical-align-middle">person</i>
                    &nbsp;View Customers</a>
              </li>
          </ul>
      </div>
    </mat-drawer>
  
    <div class="example-sidenav-content">
            <!-- <button type="button" mat-button (click)="drawer.toggle()">
                    Toggle sidenav
                  </button> -->
      <router-outlet></router-outlet>
    </div>
  
  </mat-drawer-container>