.card {
    width: 250px;
    height: 100vh;
    float: left;
    background-color: #6c757d;
    border-radius: 0;
    border: none;

}

.logo-container {
    // background-color: #eee;
    height: 90px;
    margin: 0.3em;
}

.navigate-container {
    margin: 1em;
}
.btn{
    width: 218px;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 12px;
}
 .img{
    height: 150px;
    width: 217px ;

}
.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.1rem 0.5rem;
    background-color: #303030;
    color: #f2f2f2;
    padding: 0.1em;
}


.example-container {
    height: 100vh;
    // border: 1px solid rgba(0, 0, 0, 0.5);
  }
  
  .example-sidenav-content {
    display: flex;
    height: 100%;
    // align-items: center;
    justify-content: center;
  }
  
  .example-sidenav {
    padding: 10px;
    background-color: #303030;
    width: 250px;
    border-left: 5px solid #5aaceb;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
        padding: 0.2em 0em;        // background-color: #fff;
        margin: 0.5em 0.2em;
        a {
            display: block;
            color: #fff;
            font-size: 0.9em;
            text-decoration: none;
            padding: 0.1em 0.5em;
          }
    }
  }

  .router-link-active {
      background-color: #fff;
      color: #000 !important;
      border-radius: 0.2em;
  }

  .btn-menu {
    height: 28px;
  }