.form-container {
    width: 580px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #ccc;
    padding: 1em;
    border-radius: 5px;
}

.margin-one {
    margin: 0.5em 0;
}
input[type="checkbox"]{
    width: 18px; /*Desired width*/
    height: 30px; /*Desired height*/
    margin-right: 6px;
  }
  .btn{
    float: right;
  }
  .check{
      margin-left:10px;
    
  }
  .headings{
      font-weight: bold;
      font-size: 15px;
  }
  .headingt {
    padding-top: 1em;
}
.btn-success{
    margin-right: 10px;
    margin-left: 65px;
}