<div class="container">
  <div class="row">
    <div class="col-md-12">
      <form [formGroup]="myform">
        <div class="form-container mt-2">
          <div class="heading text-center">
            ALERT GROUP
          </div>

          <div class="row">
            <div class="col-md-7 margin-one">
              <!-- <label for="group-id">Group ID &nbsp;</label> -->
              <input type="search" id="customer" placeholder="Group ID" class="form-control" formControlName="groupId">
            </div>
          </div>
          <div class="headings text-center mt-3">
            Add Rules <br>
          </div>
          <div formArrayName="rules">
            <div *ngFor="let item of alert.controls; let pointIndex=index" [formGroupName]="pointIndex">
              <hr>
              <div class="row">
                <div class="col-md-7 margin-one">
                  <!-- <label for="account-number">Select Type&nbsp;</label> -->
                  <select name="alert_status" id="alert-status" placeholder="Select Type" class="form-control"
                    formControlName="type">
                    <option hidden>Select Type</option>
                    <option value="type1">Type1</option>
                    <option value="type2">Type2</option>
                  </select>
                </div>
              </div>
              <!-- <div class="headingt align-right mt-2">
                    Values
                     </div> -->
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <!-- <label for="account-number">&nbsp;</label> -->
                    <input type="text" id="account-number" formControlName="minValue" placeholder="Min value"
                      class="form-control">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <!-- <label for="account-number">&nbsp;</label> -->
                    <input type="text" id="account-number" formControlName="maxValue" placeholder="Max value"
                      class="form-control">
                  </div>
                  
                </div>
                <div class="col-md-4">
                    <button *ngIf="pointIndex>=1" class="btn btn-sm btn-danger" style="margin-bottom:15px"(click)="deleteAlert(pointIndex)">REMOVE</button>
                    <button class="btn btn-sm btn-success" (click)="addAlert()">NEW</button>
                </div>
              </div>
              <!-- <div class="row">
                <div class="offset-md-6 col-md-6">
                    <button *ngIf="pointIndex>=1" class="btn btn-danger" (click)="deleteAlert(pointIndex)">REMOVE</button>
                  <button class="btn btn-success" (click)="addAlert()">NEW</button>
                  
                </div>
              </div> -->
              </div>
          </div>
              <div class="headingt align-right mt-2">
                Channels
              </div>
              <div class="row">
                <div formArrayName="channels">
                    <div *ngFor="let channel of channel.controls; let pointIndex=index" [formGroupName]="pointIndex">
                        <div class="check">

                            <label class="form-check-inline">
                              <input type="checkbox" formControlName="sms"> sms
                            </label>
                            <label class="form-check-inline">
                              <input type="checkbox" formControlName="email"> email
                            </label>
                            <label class="form-check-inline">
                              <input type="checkbox" formControlName="pushNotification"> pushNotification
                            </label>
                          </div>
                    </div>
                  
                </div>

                <!-- <button class="btn btn-success" (click)="addAlert()">NEW</button>
                <button *ngIf="pointIndex>=1" class="btn btn-danger" (click)="deleteAlert(pointIndex)">REMOVE</button> -->
              </div>
            <!-- </div>
          </div> -->
          <hr>
          <div class="row">
            <div class="col-md-12 margin-one">
              <button class="btn btn-primary" style="margin-right: 10px;" (click)="addNewAlert()">SUBMIT</button>
              <button class="btn btn-default" [routerLink]="['/alert-list']"
                routerLinkActive="router-link-active">CANCEL</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>