
<div class="container">
  <div class="row">
    <div class="col-md-12">
 
      <div class="form-container mt-2">
          <div class="heading text-center mb-2">
              ACCOUNT LIST
            </div>
        <div class="row">
          <div class="col-md-12">
            <button class="btn btn-primary mb-2" (click)="newAccount()" >NEW</button>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Account Number</th>
                  <th>Account Type</th>
                  <th>Customers</th>
                  <th>Alert Group ID</th>
                  <th>Alert Status</th>
                  <th>Available Balance</th>
                  <th>Actual Balance</th>
                  <th>Edit</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let account of accounts">
                  <td>{{account.accountNumber}}</td>
                  <td>{{account.accountType}}</td>
                  <td>{{account.customerIds}}</td>
                  <td>{{account.alertGroup}}</td>
                  <td>{{account.alertStatus}}</td>
                  <td>{{account.availableBalance}}</td>
                  <td>{{account.actualBalance}}</td>
                  <td><a  href="javascript:" [routerLink]="['/account-balance']" routerLinkActive="router-link-active" (click)="editAccount(account)"><i class="fas fa-edit"></i></a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>