
  
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <form [formGroup]="addCustomerForm">
            <div class="form-container mt-2">
              <div class="heading text-center">
                  ADD CUSTOMER 
                </div>
            <!-- <div class="row">
              <div class="col-md-12 margin-one">
                <label for="account-number">Customer&nbsp;</label>
                <input type="search" id="customer" class="form-control">
              </div>
            </div> -->
    
            <div class="row">
              <div class="col-md-12 margin-one">
                <!-- <label for="alert-group">Customer ID&nbsp;</label> -->
                <input type="text" id="alert-group" placeholder="Entert Customer ID"class="form-control" formControlName="id">
              </div>
            </div>
    
            <div class="row">
              <div class="col-md-12 margin-one">
                  <!-- <label for="alert-group">Customer Name&nbsp;</label> -->
                  <input type="text" id="alert-group" placeholder="Enter Customer Name" class="form-control" formControlName="name">
              </div>
            </div>
    
            <div class="row">
                <div class="col-md-12 margin-one">
                    <!-- <label for="alert-group">Email ID&nbsp;</label> -->
                    <input type="text" id="alert-group" placeholder="Enter Email ID" class="form-control" formControlName="emailId">
                </div>
            </div>
    
    
            <div class="row">
                <div class="col-md-12 margin-one">
                    <!-- <label for="alert-group">Phone Number&nbsp;</label> -->
                    <input type="text" id="alert-group" placeholder="Enter Phone Number" class="form-control" formControlName="phoneNumber">
                </div>
            </div>
    
            <div class="row">
                <div class="col-md-12 margin-one">
                  <div class="form-group">
                    <!-- <label for="account-number">Alert Status&nbsp;</label> -->
                    <select name="alert_status" id="alert-status" class="form-control" formControlName="alertStatus">
                      <option [disabled]=true [selected]=true>Select Alert Status</option>
                      <option *ngFor="let status of alertStatus" [value]="status.value">{{status.status}}</option>
                      <!-- <option value=0>Disabled</option> -->
                    </select>
                  </div>
                </div>
            </div>
    
            <div class="row">
              <div class="col-md-12 margin-one">
                <button class="btn btn-primary align-right"  (click)="addCustomer()" >ADD</button>
              </div>
            </div>
          </div>
          </form>
         
        </div>
      </div>
    </div>
