/* You can add global styles to this file, and also import other style files */
.form-container{
    
    box-shadow: -1px 0px 4px 0px #ccc;
    background-color: #fff;

}

.heading {
    box-shadow: 1px 1px 6px #ccc;
    background-color: #5aaceb;
    color: #fff;
    font-size:16px;
    font-weight:bold;
    padding: 0.2em 0;
    margin-bottom: 1em;
}

body {
    background-color: #80808033 !important;
}

.vertical-align-middle {
    vertical-align: middle;
}